.down_white{
    height: 70px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    bottom: 0;
    background: white;
}
.down_btn{
    margin: 0 auto;
    width: 90%;
    height: 40px;
    background: #f8b31f;
    font-size: 14px;
    margin-bottom: 10px;
    z-index: 2;
    font-size: 12px;
}
.address_down{
    z-index: 3;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}
.address_down .iconfont{
    font-size: 12px;
}
.midblack{
    height: 10px;
    background: #f7f7f7;
}
.add_all{
    position: absolute;
    top:46px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f7f7f7;
}
.addressall{
    background: white;
    color: #656463;
}
.address_t{
    height:30px;
}
.address_t .t_f{
    font-size: 14px;
    line-height: 30px;
    position: absolute;
    left: 10px;
}
.address_t .t_s{
    font-size: 12px;
    position: absolute;
    right: 10px;
    line-height: 30px;
}
.address_m{
    padding: 0 10px 10px 10px;
    position: relative;
    text-align:justify;
    text-justify:inter-ideograph;
}
.address_m span{
    font-size: 12px;
}
.address_d{
    border-top: 1px solid  #f7f7f7;
    height: 40px;
    position: relative;
}
.address_d .d_l{
    position: absolute;
    top:10px;
    left: 10px;
    font-size: 12px;
    color:#f8b31f;
}
.address_d .d_img1{
    position: absolute;
    right: 100px;
    top: 10px;
    width:25px;
}
.address_d .d_img2{
    position: absolute;
    right: 30px;
    top: 10px;
    width:25px;
    font-size: 14px
}
.address_d .d_r2{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 12px;
}
.address_d .d_r1{
    position: absolute;
    right: 80px;
    top: 10px;
    font-size: 12px;
}
input[type="checkbox"]{
    position: absolute;
    top:12px;
    left: 10px;
    height: 15px;
    width: 15px;
    margin: 0px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 2px;
    background-color: #ffc107;
    border: 1px solid #ffc107;
  }

.default_address_label{
  color:#ffc107 ;
}
