body{
  font-family:Roboto, Noto;
}
ul,li{
  list-style: none;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}


.mint-header{
    background-color: #f8b31f;
    height: 46px;
}
.mint-navbar{
    font-size: 14px;
    color: #666666;
}
.mint-navbar .mint-tab-item{
    padding: 13px 0px;
}
.mint-navbar .mint-tab-item.is-selected{
    border-color:#f8b31f;
    color:#f8b31f;
}
.dev_main{
  height: 100%;
}

pre{
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
